gunicorn
dash
plotly
pandas
dash_daq
uniswap-python
web3
termcolor
rich
fire
https://raw.githubusercontent.com/mexcdevelop/mexc-api-sdk/main/dist/python/mexc-sdk-1.0.0.tar.gz
wallstreet
beautifulsoup4
